# https://github.com/neovim/nvim-lspconfig/blob/master/doc/configs.md#clangd
# https://github.com/neovim/nvim-lspconfig/blob/master/lua/lspconfig/configs/clangd.lua#L51

# # Fragment common to C and C++ source files
# CompileFlags:
#     Add:
#         - "--include-directory=some/directory/to/search/includes/in"
#         - "-D"
#         - "SOME_MACRO_TO_DEFINE"
#         - "-include"
#         - "some/file/to/force/inclusion/of.h"
#
# ---
# # Fragment specific to C++ source files
# If:
#     PathExclude: [.*\.c, .*\.h]
# CompileFlags:
#     Add:
#         - "-std=c++17"
