[program]
entry_point = "./app/src/main.cpp"
files = "./app/src/*.cpp"
output = "./bin/program"
arguments = "-ggdb -I./engine-static/src -L./bin -lengine -std=c++20 -Wall -Wextra -Wfloat-equal -Wshadow -Wconversion -Wpedantic -fsanitize=undefined,address"

[release]
entry_point = "./app/src/main.cpp"
files = "./app/src/*.cpp"
output = "./bin/release"
arguments = "-O2 -DNDEBUG -I./engine-static/src -L./bin -lengine -std=c++20 -Wall -Wextra -Wfloat-equal -Wshadow -Wconversion -Wpedantic -fsanitize=undefined,address"

[SOLUTION]
executable = "./bin/program"
executable1 = "./bin/release"
